#!/usr/bin/make -f

PREFIX = /usr/local/booking-perl/5.18.2
unexport LC_PAPER
unexport LC_ADDRESS
unexport LC_MONETARY
unexport LC_NUMERIC
unexport LC_TELEPHONE
unexport LC_IDENTIFICATION
unexport LC_MEASUREMENT
unexport LC_TIME
unexport LC_NAME
unexport LANG
unexport LANGUAGE

%:
	dh $@

override_dh_auto_configure:
	./Configure -des \
		-DSILENT_NO_TAINT_SUPPORT \
		-Dprefix=$(PREFIX) \
		-Uusevendorprefix \
		-Dsiteprefix=$(PREFIX) \
		-Dinstallprefix=$(PREFIX) \
		-Dinstallstyle="lib" \
		-Darchlib=$(PREFIX)/lib \
		-Dman1dir=$(PREFIX)/man/man1 \
		-Dman3dir=$(PREFIX)/man/man3 \
		-Dprivlib=$(PREFIX)/lib \
		-Dsitearch=$(PREFIX)/site/lib \
		-Dsitebin=$(PREFIX)/site/bin \
		-Dsitelib=$(PREFIX)/site/lib \
		-Dsiteman1dir=$(PREFIX)/site/man/man1 \
		-Dsiteman3dir=$(PREFIX)/site/man/man3 \
		-Dscriptdir="$(PREFIX)/bin" \
		-Uinstallusrbinperl \
		-Duseshrplib \
		-Dusesitecustomize \
		-UDEBUGGING \
		-Di_db \
		-A 'prepend:libswanted=pthread '

override_dh_auto_test:
	# These tests fail for unknown reasons, ignore them for now
	rm t/op/range.t
	rm t/op/numconvert.t
	# Removing those makes some porting tests fail
	rm t/porting/manifest.t
	rm t/porting/test_bootstrap.t
	TEST_JOBS=4 make test_harness

override_dh_auto_install:
	LD_PRELOAD= dh_auto_install
	wget http://cpanmin.us -O cpanm
	sed -e '1s@.*@#!/usr/local/booking-perl/5.18.2/bin/perl@' -i cpanm
	install -m755 cpanm debian/booking-perl5182/$(PREFIX)/bin/cpanm

override_dh_usrlocal:

override_dh_clean:
	dh_clean -Xcpan/Module-Pluggable/t/lib/EditorJunk/Plugin/Bar.pm~

